# Pretty print of csv files
#
# usage : csview myfile.csv

csview() {
  column -s, -t < $1 | less -#2 -N -S
}

# git aliases

alias ga="git add ."
alias gc="git commit -m \${1}"
alias gco="git checkout \${1} \${2}"
alias gd="git diff"
alias gpl="git pull \${1} \${2}"
alias gs="git status"

# yadm aliases (mostly git aliases prefixed with `y` instead of ´g´)

alias ya="yadm add ."
alias yc="yadm commit -m \${1}"
alias yd="yadm diff"
alias ys="yadm status"
