# Pretty print of csv files
#
# usage : csview myfile.csv

csview() {
  column -s, -t < $1 | less -#2 -N -S
}

# git aliases

alias ga="git add \${1}"
alias gaa="git add ."
alias gc="git commit -m \${1}"
alias gco="git checkout \${1} \${2}"
alias gd="git diff"
alias gpl="git pull \${1} \${2}"
alias gs="git status"

# yadm aliases (mostly git aliases prefixed with `y` instead of ´g´)

alias ya="yadm add \${1}"
alias yaa="yadm add ."
alias yc="yadm commit -m \${1}"
alias yd="yadm diff"
alias ys="yadm status"

# terjira aliases

## jmb stands for Jira My Bugs - Tickets from the DEB project, assigned to me, with a status Selected for Dev
alias jmb="jira issue ls --project DEB"

## jmw stands for Jira My Work - All pending tickets assigned to me
alias jmw="jira issue jql 'assignee=cedric\u0040bousmanne.com' and status!='done' and status !='dropped' and status!='\"in prod\"' and status!='archive' and status!='validated' and status!='\"cannot reproduce\"'"


# other aliases

alias bfg="~/.config/scripts/bfg"
