[user]
	email = cedric@bousmanne.com
	name = Cédric Bousmanne
	signingkey = CA38CF177A870454861C6E44F99F755F111716C7
[alias]
	st = status
	appraise = !~/go/bin/git-appraise
	amend = commit --amend --no-edit
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[commit]
	signing = true
[merge]
	signing = true
[help]
	autocorrect = prompt
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
	diffFilter = diff-so-fancy --patch
